body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(226, 200, 235);
}
header{
    font-family: 'Poppins', sans-serif;
}
ion-icon {
    color: white;
    font-size: 35px;
    margin-left: 15px;
  }